@import url("reset.css");

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
} /* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
} /* IE7 */

body {
  font-family: "Gudea", sans-serif;
  font-size: 2.5em;
  color: #fff;
}

.calculator {
  width: 375px;
  background-color: #555555; /*aqua*/
  margin: 60px auto;
  position: relative;
}

.calculator:after {
  content: " ";
  width: 375px;
  height: 522px;
  background-color: #eee;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.arrow-left,
.arrow-right {
  width: 0;
  height: 0;

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  position: absolute;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  right: -13px;
  top: 0;
  border-right: 15px solid #eee;
}

.arrow-right {
  left: 9px;
  bottom: -20px;
  border-left: 15px solid #eee;
}

.calculator-inner {
  margin-left: 40px;
  border: 1px solid #555555;
}

.total {
  height: 60px;
  margin: 50px 0 30px 0px;
  width: 290px;
  background-color: rgb(128, 128, 128);
  text-align: right;
  color: #000000; /*pink*/
  padding: 10px 20px;
  border-radius: 10%;
}

.buttons {
  display: table;
  margin-bottom: 30px;
}

.buttons a {
  width: 50px;
  height: 50px;
  margin: 0 30px 30px 0;
  margin-bottom: 20px;
  float: left;
  background-color: rgb(116, 116, 116);
  text-align: center;
  padding: 8px;
  border-radius: 30%;
}

.buttons a:hover {
  cursor: pointer;
}

.buttons a:active {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.5;
}

.buttons a:nth-child(12n) {
  margin-right: 0;
}

.operators a:nth-child(3) {
  font-size: 0.8em;
  padding: 15px;
}

.operators a:last-child {
  padding: 9px;
}

#clear {
  background-color: #ff9900; /*pink*/
}
