* {
  font-family: "Open Sans", sans-serif;
}
html,
body {
  margin: 30px 0 0 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header:hover {
  box-shadow: 0 -20px 30px #4d4d4d;
}
nav {
  display: flex;
  background-color: #ffffff;
  align-items: center;
}
nav div {
  height: 30px;
  flex-grow: 4;
  padding: 10px;
}
nav div img {
  height: 100%;
}
nav div.search-container > input {
  box-sizing: border-box;
  height: 30px;
  width: 80%;
  margin: 0;
  padding: 5px;
  border: 1px solid #e0e0e0;
}
nav div.search-container > button {
  box-sizing: border-box;
  height: 30px;
  width: 20%;
  margin: 0;
  padding: 5px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  background-color: #e0e0e0;
}

section {
  display: flex;
  width: 80%;
  margin: 30px auto;
}

section div.video-container {
  flex-grow: 10;
}
section div.suggested-container {
  flex-grow: 2;
}
.video-container video {
  width: 100%;
  min-height: 400px;
}
.video-container h1 {
  margin: 15px 15px;
}
.video-container h6 {
  margin: 15px 15px;
  font-size: 12px;
  font-weight: lighter;
  color: #bcbcbc;
}

.suggested-container h3 {
  margin: 15px;
  padding: 15px;
  color: #ffffff;
  background-color: #0044ff;
}
.suggested-container ul {
  margin: 15px;
  padding: 0;
}
.suggested-container ul li {
  list-style: none;
}
.suggested-container ul li div {
  margin: 20px 0;
}

.suggested-container ul li img {
  width: 35%;
  height: 100px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
}

.suggested-container ul li div::after {
  content: "";
  display: block;
  clear: both;
}

.suggested-container ul li h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.suggested-container ul li h4 a {
  color: #1a1a1a;
  text-decoration: none;
}
.suggested-container ul li h4 a:hover {
  color: #ff5f52;
  text-decoration: underline;
}
.suggested-container ul li small {
  color: #bcbcbc;
}
footer {
  color: #cccccc;
  text-align: center;
}

.comment-box textarea {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  font-size: 12px;
  border: 1px dashed #7f1319;
  resize: none;
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }
  .video-container video {
    min-height: 250px;
  }
  nav div:last-of-type {
    display: none;
  }
  nav div:first-child img {
    width: 35px;
    object-fit: cover;
    object-position: left;
  }
}
